@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Passion+One:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background: radial-gradient(at left bottom, rgba(11, 75, 193, 1.0), rgba(30, 29, 30, 1.0));
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius:10px;
  background: #94a3b8;
}
*::-webkit-scrollbar-thumb:active {
  border-radius:10px;
  background: #6b7280;
}
*::-webkit-scrollbar-track {
  background: #f8fafc;
}
@media only screen and (max-width: 	768px){
  *::-webkit-scrollbar {
    display: none;
  }
}